body {
    background-color: #fff4c8;
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    color: #2522ca;
    text-shadow:3px 3px 5px #ff8002;
}
.greekyogurt {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: #9d44f0;
    background-color: #ffff6a;
}
.cherrytomato {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: #ff0000;
    background-color: #b6fcd5;
}
.eggs {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: #008080;
    background-color: #ffe4e1;
}
.sourdough {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: #0a75ad;
    background-color: #ffd700;

}
.zerocoke {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: #ff1493;
    background-color: #f0f8ff;
}
li{
    font-family: 'Fira Mono', monospace;
    font-size: 22px;
    
}
summary{
    font-family: 'Fira Mono', monospace; 
    font-size: 16px;
    color:#4169e1;
    
}
p{
    font-family: 'Fira Mono', monospace; 
    font-size:14px; 
    color:#ff6e12;
    text-decoration:underline;
}